.top-header {
  background-color: $dark-grey;
  color: #FFFFFF;

  .left-logo {
    margin: 7px 0;
  }

  .right-navigation {
    display: block;
    float: right;

    ul {
      list-style-type: none;
      text-align: center;
      margin: 0;

      li {
        display: inline-block;
        padding: 20px 10px;
        text-transform: uppercase;
        font-size: 0.9em;
      }
    }
  }

  .menubar {
    display: none;
  }

  .mobile-menubar {
    display: none;
  }
}

@media only screen and (max-width: $screen-979px) {
  .top-header .right-navigation {
    display: none;
  }

  .top-header .menubar {
    display: block;
    float: right;
    font-size: 30px;
    margin: 5px 25px;
    outline: none;
    color: $yellow-text;
  }

  .top-header .menubar:focus {
    outline: none;
  }

  .top-header .mobile-menubar {
    display: block;

    .mobile-menu {
      background: $dark-grey;
      position: absolute;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      color: $yellow-text;

      ul {
        transform: translateY(50%);
        line-height: 62px;
        font-size: 30px;
        text-transform: uppercase;
        list-style: none;
        margin: 0 auto;
        text-align: center;
      }
    }

    .close {
      position: absolute;
      top: 6px;
      right: 40px;
      font-size: 30px;
      outline:none;
      color: $yellow-text;
    }

    .close:focus {
      outline: none;
    }
  }

  .top-header .left-logo {
    width: 97px;
  }
}

@media only screen and (max-width: $screen-320px) {
  .top-header .mobile-menubar .mobile-menu ul {
    transform: translateY(36%);
    line-height: 47px;
    font-size: 15px;
  }
}
