<div class="top-header small-12 columns">
  <div class="left-logo small-1 columns">
    <img src="assets/images/logo.png" alt="company logo">
  </div>

  <div class="right-navigation small-6 columns">
    <ul>
      <li>our work</li>
      <li>our approach</li>
      <li>secret sauce</li>
      <li>insight</li>
      <li>careers</li>
    </ul>
  </div>

  <div class="menubar" ng-click="menu=true">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <div class="mobile-menubar">
    <div class="mobile-menu small-12 columns" ng-show="menu" >
      <div class="left-logo small-1 columns">
        <img src="assets/images/logo.png" alt="company logo">
      </div>

      <div class="clearfix"></div>
      
      <ul>
        <li>our work</li>
        <li>our approach</li>
        <li>secret sauce</li>
        <li>insight</li>
        <li>careers</li>
      </ul>
    </div>

    <div class="close" ng-show="menu" ng-click="menu=false">
      X
    </div>
  </div>
</div>
