<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="clearfix"></div>

  <section>
    <div class="banner-container small-12 columns" ng-style="{'background-image': main.slide}">
      <div class="header-text-container small-4 columns">
        <div class="header-text-heading">
          <h1>Elegant Communication</h1>
        </div>

        <div class="header-text-paragraph">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>
        </div>

        <div class="header-text-button button small-12 columns">
          <button type="button" name="link-text-button">link text</button>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="image-navigation">
        <div class="circle" ng-style="{active: isActive(slide)}"></div>
        <div class="circle" ng-class="main.slide[1].active"></div>
        <div class="circle" ng-class="main.slide[2].active"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="row boxes small-12 columns">

      <a href="#">
        <div class="digital-strategy background-size-cover block-height text-align-center small-3 columns">
          <div class="digital-strategy-box opacity-black">
            <div class="digital-strategy-text">
              <h2>Digital Strategy</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="design background-size-cover block-height text-align-center small-3 columns">
          <div class="design-box opacity-black">
            <div class="design-text">
              <h2>Design</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="development background-size-cover block-height text-align-center small-3 columns">
          <div class="development-box opacity-black">
            <div class="development-text">
              <h2>Development</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="performance-marketing background-size-cover block-height text-align-center small-3">
          <div class="performance-marketing-box opacity-black">
            <div class="performance-marketing-text">
              <h2>Performance Marketing</h2>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row boxes small-12 columns">
      <a href="#">
        <div class="neuro-linguistic-search background-size-cover block-height text-align-center small-3 columns">
          <div class="neuro-linguistic-search-box opacity-black">
            <div class="neuro-linguistic-search-text">
              <h2>Neuro Linguistic Search</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="neuromarketing background-size-cover block-height text-align-center small-3 columns">
          <div class="neuromarketing-box opacity-black">
            <div class="neuromarketing-text">
              <h2>Neuro Marketing</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="video background-size-cover block-height text-align-center small-3 columns">
          <div class="video-box opacity-black">
            <div class="video-text">
              <h2>Video</h2>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="analysis-improvement background-size-cover block-height text-align-center small-3">
          <div class="analysis-improvement-box opacity-black">
            <div class="analysis-improvement-text">
              <h2>Analysis &amp; Improvement</h2>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>

  <div class="clearfix"></div>

  <section>
    <div class="backgroundimage small-12">
      <div class="contact-form-box opacity-white small-12">
        <div class="contact-form-container small-4 columns">
          <div class="form-heading">
            <h1>Elegant Communication</h1>
          </div>

          <form class="contact-form" name="contact-form" action="index.html" method="post" novalidate autocomplete="off">
            <div class="form-container" ng-class="{true: 'active'}[submitted && form.email.$invalid]">
              <div class="fullname">
                <input type="text" name="fullName" value="" ng-model="fullname" placeholder="full name" ng-class="{'active': (contact-form.fullName.$touched && contact-form.fullName.$invalid) || submitted}">
              </div>

              <div class="email">
                <input type="email" name="emailAddress" value="" ng-model="email" placeholder="email address" ng-class="{'active': (contact-form.email.$touched && contact-form.email.$invalid) || submitted}">
              </div>

              <div class="contact-number">
                <input type="number" name="contactNumber" value="" ng-model="contactnumber" placeholder="contact number" ng-class="{'active': (contact-form.contactNumber.$touched && contact-form.contactNumber.$invalid) || submitted}">
              </div>

              <div class="selection-box" name="selection-box" ng-class="{'active': (contact-form.selection-box.$touched && contact-form.selection-box.$invalid) || submitted}">
                <select class="selection" ng-model="selectionbox" ng-class="">
                  <option value="" disabled selected>digital strategy or transformation</option>
                  <option class="black" value="digital-strategy">Digital Strategy</option>
                  <option class="black" value="design">Design</option>
                  <option class="black" value="development">Development</option>
                  <option class="black" value="performance-marketing">Performance Marketing</option>
                  <option class="black" value="neuro-linguistic-search">Neuro Linguistic Search</option>
                  <option class="black" value="neuromarketing">Neuro Marketing</option>
                  <option class="black" value="video">Video</option>
                  <option class="black" value="analysis-improvement">Analysis &amp; Improvement</option>
                </select>
              </div>

              <div class="form-button button small-12">
                <button type="button" name="contactme" ng-click="submitted=true"> contact me</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section>
    <footer>
      <div class="footer small-12 text-align-center">
        <div class="social-icons inline">
          <div class="linkedin-icon icon inline">
            <img src="assets/images/linkedin.png" alt="linkedin icon">
          </div>

          <div class="facebook-icon icon inline">
            <img src="assets/images/facebook.png" alt="facebook icon">
          </div>

          <div class="twitter-icon icon inline">
            <img src="assets/images/twitter.png" alt="twitter icon">
          </div>
        </div>
        <span class="display-none-320px">|</span>
        <div class="companyemail inline">
          hello@lab.co.uk
        </div>
        <span class="display-none-320px">|</span>
        <div class="companynumber inline">
          0207 183 6668
        </div>
      </div>

      <div class="awards-info text-align-center small-12">
        <div class="display-block small-1">
          <
        </div>

        <div class="awards inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="awards display-none-320px inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="awards display-none-320px inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="awards display-none inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="awards display-none inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="awards display-none inline small-2">
          +RAR DIGITAL AWARDS <br/>GRAND PRIX <br/><span class="yellow-text">WINNERS 2016</span>
        </div>

        <div class="display-block small-1">
          >
        </div>
      </div>

      <div class="row text-align-center">
        <div class="copyright">
          © 2017 Copyright Lab Lateral. All Rights Reserved <span class="display-none-320px">|</span> Privacy &amp; Cookies Policy
        </div>
      </div>
    </footer>
  </section>
</div>
