$dark-grey: #3b4a54;
$light-grey: #b0b0b0;

.container {
  section {
    .banner-container {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      transition: all .75s ease;

      .header-text-container {
        background: $dark-grey;
        margin: 3% 6%;

        .header-text-heading {
          margin-top: 8px;
        }

        .header-text-paragraph {
          color: #ffffff;
        }

        .header-text-button {
          background-color: #ffff00;

          button {
            color: $dark-grey;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
          }
        }
      }

      .image-navigation {
        text-align: center;

        .circle {
          width: 10px;
          height: 10px;
          background: #ffffff;
          border-radius: 50%;
          display: inline-block;
        }

        .active {
          background:#000000;
        }
      }
    }

    .boxes {
      .digital-strategy {
        background-image:url(../assets/images/block1.jpg);
      }

      .design {
        background: url(../assets/images/block2.jpg);
      }

      .development {
        background: url(../assets/images/block3.jpg);
      }

      .performance-marketing {
        background: url(../assets/images/block4.jpg);
      }

      .neuro-linguistic-search {
        background: url(../assets/images/block5.jpg);
      }

      .neuromarketing {
        background: url(../assets/images/block6.jpg);
      }

      .video {
        background: url(../assets/images/block7.jpg);
      }

      .analysis-improvement {
        background: url(../assets/images/block8.jpg);
      }
    }

    .backgroundimage {
      background-image: url(../assets/images/background.jpg);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      padding: 0;
      display: table;
      height: 100%;

      .contact-form-box {
        float: right;

        .contact-form-container {
          float: right;
          background-color: $dark-grey;
          margin: 7%;

          .contact-form {
            input[type=text],
            input[type=email],
            input[type=number] {
              background: #e3e3e3;
              color: $light-grey;
              border-bottom: 3px solid $yellow-text;
            }

            .selection-box {
              background: #e3e3e3;
              color: #b0b0b0;
              border-bottom: 3px solid $yellow-text;
              box-shadow: none;

              select {
                background: transparent;
                margin: 0;
                background-image: url(../assets/images/downarrow.png);
                background-position: 375px center;
                background-repeat: no-repeat;
                background-size: 25px;
                color: $light-grey;
              }
            }

            .form-button {
              margin-top: 20px;
              background: $yellow-text;

              button {
                text-transform: uppercase;
                color: $dark-grey;
                font-weight: 600;
                font-size: 17px;
              }
            }
          }
        }
      }
    }

    footer {
      background: $dark-grey;
      color: $light-grey;
      padding: 50px 0;

      .companyemail,
      .companynumber {
        font-size: 16px;
        color: $yellow-text;
        padding: 0 10px;
      }

      .awards {
        padding: 40px 0 70px;
        font-size: 10px;
        width: 14%;
      }

      .display-block {
        display: none;
      }

      .display-320px {
        display: none;
      }

      .copyright {
        color: #ffffff;
        font-size: 10px;
      }
    }
  }
}

// media queries
@media only screen and (max-width: $screen-1200px) {
  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select {
    background-position: 260px center;
  }
}

@media only screen and (max-width: $screen-979px) {
 .container section .banner-container .header-text-container {
   width: 45%;
 }

 .boxes {
   padding: 0;
 }

 .container section .boxes .block-height {
   height:145px;
   background-size: 100%;
 }

 .container section .backgroundimage .contact-form-box {
   padding: 40px 0;
 }

 .container section .backgroundimage .contact-form-box .contact-form-container {
   float: none;
   text-align: center;
   margin: 0 auto;
   width: 70%;
 }

 .container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select {
   background-position: 442px center;
 }

 .container section footer .awards {
   width: 25%;
 }

 .display-none {
   display: none;
 }

 .display-block {
   display: inline-block;
   color: $yellow-text;
   vertical-align: baseline;
   font-size: 55px;
 }
}

@media only screen and (max-width: $screen-320px) {
  .container section .banner-container .header-text-container {
    width: 88%;
  }

  .container section .banner-container .header-text-container .header-text-button button {
    font-size: 15px;
  }

  .container section .boxes .block-height {
    width: 50%;
  }

  .container section .backgroundimage .contact-form-box {
    padding: 20px 0;
  }

  .container section .backgroundimage .contact-form-box .contact-form-container {
    width: 92%;
  }

  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=text],
  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=email],
  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=number],
  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select {
    font-size: 15px;
  }

  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select {
    background-size: 15px;
    background-position: 233px center;
  }

  .container section .backgroundimage .contact-form-box .contact-form-container .contact-form .form-button button {
    font-size: 15px
  }

  .display-320px {
    display: inline-block;
    vertical-align: baseline;
  }

  .display-none-320px {
    display: none;
  }

  .container section footer .awards {
    width: 63%;
  }

  .social-icons,
  .companyemail,
  .companynumber {
    display: block;
    line-height: 28px;
  }

  .copyright {
    width: 81%;
    text-align: center;
    margin: 0 auto;
  }
}
