/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
 @function white($opacity) {
   @return rgba(white, $opacity)
 }

$topbar-background: #5AADBB;
$yellow-text: #ffff00;
$black: #000000;
@function black($opacity) {
  @return rgba(black, $opacity)
}

$screen-1200px: 1200px;
$screen-979px: 979px;
$screen-767px: 767px;
$screen-480px: 480px;
$screen-320px: 320px;


/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation-sites/scss/foundation';
@include foundation-everything;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.thumbnail {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.clearfix {
  clear: both;
}

// Generic Classes
.background-size-cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0;
  display: table;
}

.text-align-center {
  text-align: center;
}

.opacity-black {
    background: black(0.5);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.opacity-white {
  background: rgba(white,0.5);
  opacity: 1;
  height: 100%;
}

.block-height {
  height: 292px;
}

.black {
  color: $black;
}

.inline {
  display: inline-block;
}

.icon {
  width: 22px;
  margin-right: 10px;
}

.yellow-text {
  color: $yellow-text;
}

.ng-valid {
  border:none;
}

.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=text].ng-invalid,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=text].ng-touched,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=text].ng-dirty,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=email].ng-invalid,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=email].ng-touched,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=email].ng-dirty,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=number].ng-invalid,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=number].ng-touched,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=number].ng-dirty,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select.ng-invalid,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select.ng-touched,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box select.ng-dirty.
.active {
  border: 3px solid red;
  border-bottom: 3px solid red;
}

.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box.ng-invalid,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box.ng-touched,
.container section .backgroundimage .contact-form-box .contact-form-container .contact-form .selection-box.ng-dirty {
  border-bottom: none;
}

.container section .backgroundimage .contact-form-box .contact-form-container .contact-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

// Typography
h1 {
  font-size: 2em;
  color: $yellow-text;
}

h2 {
  font-size: 1.8em;
  color: $yellow-text;
  margin: 0;
}

p {
  font-size: 0.9em;
}

// Media Queries
@media only screen and (max-width: $screen-979px) {
  h1 {
    font-size: 1.6em;
    text-align: left;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: $screen-320px) {
  h1 {
    font-size: 1.3em;
    padding-top: 20px;
  }

  p {
    font-size: 0.7em;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
